@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

:root{
    --verde-musgo:#739936
    --azul-bebe:#1776b3
    --vermelho-ferrari:#ff0f35
    --verde-tarzan:#2d5500
}